* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #212121;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.line {
  width: 100wh;
  height: 1px;
  border-bottom: 1px solid #fff;
  margin-bottom: 96px;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #3a3a3b;
  margin: 0 auto;
  margin-bottom: 96px;
}
.header .header_mainBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.header_mainBlockLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_mainBlockLeft img {
  width: 100px;
}

.header_mainBlockRight ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.header_mainBlockRight a:first-child {
  margin-left: 0;
}
.header_mainBlockRight a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin-left: 10px;
}

.blockSendFormAllItems {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.noBrandAdress {
  display: none;
}

.block_send {
  min-width: 760px;
  height: 100%;
  padding: 30px;
  background-color: #3a3a3b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formTextSendBlock {
  width: 100%;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 15px;
}

.formTextSend {
  padding: 19px;
  border-radius: 10px;
  background-color: #313131;
  border: 0;
  color: #fff;
}

.formTextSend:focus {
  outline: 1px solid #ffffff;
}

.fullAdress {
  margin-top: 15px;
}

.checkBoxSendBlock {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #fff;
  margin-top: 15px;
}

.btn {
  padding: 15px;
  border: 0;
  border-radius: 10px;
  font-size: 1.1em;
  background-color: #d5a43b;
  color: #fff;
  font-weight: 400;
  margin-top: 15px;
  cursor: pointer;
  margin-bottom: 15px;
}

.chekBoxBtnBrand {
  cursor: pointer;
}

.chekBoxBtnNoBrand {
  margin-left: 15px;
  cursor: pointer;
}

.blockSendData {
  margin: 0 auto;
}

.sendData {
  color: #fff;
}

.sendDataLink {
  color: #d5a43b;
}

.blockMainTextSendForm {
  max-width: 390px;
}

.mainSendTExt {
  font-size: 32px;
  font-weight: 500px;
  font-family: "FuturaPT", Arial, sans-serif;
  color: #fff;
}

.sendTextAbout {
  font-size: 18px;
  line-height: 1.9;
  font-weight: 400px;
  font-family: "FuturaPT", Arial, sans-serif;
  color: #fff;
}

.error {
  color: #ff0000;
  text-align: center;
  margin-top: 10px;
  font-size: 0.9em;
  display: none;
}

.visible {
  display: block;
}

.errorFullAdress {
  color: #ff0000;
  text-align: center;
  margin-top: 10px;
  font-size: 0.9em;
  display: none;
}/*# sourceMappingURL=style_pvz_form.css.map */